.container {
  width: 45vw;
  height: auto;
  padding: 5px;
  background-color: var(--silver);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}

.card {
  width: 100%;
  height: auto;
  padding: 8px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  border-radius: 5px;
  margin-bottom: 9px;

  background-color: var(--silver2);

  h3 {
    margin: 5px 0;
  }
}

.options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  svg {
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.btExport {
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: none;
  margin: 8px 0;
  background-color: var(--pink);
  color: var(--white);
  border: 2px solid var(--white);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}