/* paleta de cores */
/* cores semelhantes ao site da AeC */

:root {
  --white: #fff;
  --black: #000;
  --silver: #808080;
  --silver2: #363636;
  --blue: #0434a4;
  --blue2: #01B2E1;
  --pink: #EE2B7C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
}

a, html {
  color: var(--white);
}

