.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--blue2);

  svg {
    cursor: pointer;
    transition: all 0.3s;    

    &:hover {
      transform: scale(1.2);
    }
  }
}