.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p{
    margin-bottom: 10px;
  }
}

.register {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.button {
  height: 35px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: var(--blue2);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: var(--blue);
  }
}